@charset "utf-8";

/* Common */
#sub_contents {
	float:left;
	width:865px;
	padding-left: 20px;
	background-image: url(../../images/common/content_back.jpg);
	background-repeat: repeat-y;
	background-position: top right;
	padding-right: 20px;
}
#sub_contents_body {
	float:left;
	width: 639px;
	padding: 5px 5px;
}
.sub_contents {
	float:left;
	width: 639px;
}

.sub_contents h2 {
	padding: 7px;
	color: #FFF;
	font-size: 90%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-image: url(../../images/common/line_bar.gif);
	background-repeat: repeat-x;
}
#h2_02 {
	padding: 7px;
	color: #FFF;
	font-size: 90%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-image: url(../../images/common/line_bar2.gif);
	background-repeat: repeat-x;
}
#h2_03 {
	padding: 7px;
	color: #FFF;
	font-size: 90%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-image: url(../../images/common/line_bar3.gif);
	background-repeat: repeat-x;
}
.sub_contents h3 {
	padding: 5px;
	font-size: 80%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #454545;
	margin-top: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7DA8FF;
}
.sub_contents h4 {
	padding: 5px 0px 5px 10px;
	margin: 20px 0px 5px 0px;
	color: #333333;
	font-size: 90%;
	background-image: url(../../images/common/h4_back.jpg);
	background-repeat: repeat-y;
}
.sub_contents .box001 {
	margin-top:10px;
	margin-bottom:30px;
	float: left;
}
.sub_contents p{
	font-size:80%;
	color: #333;
	line-height: 150%;
	padding: 5px;
}
.sub_contents strong {
	color:#343123;
}
.sub_contents table {
	color: #666666;
	font-size: 12px;
}
.sub_contents th {
	color: #000;
	padding: 8px;
	text-align: center;
	font-weight: normal;
	border-top: double 1px #fff;
}
.sub_contents .th_02 {
	background-color:#EAEAEA;
	color: #333333;
}
.sub_contents td {
	padding:8px;
	background-color: #FFFFFF;
	color: #333333;
	border-top: double 1px #fff;
}
.square {
    color:#4562AD;
}
.square02 {
	color:#FF0000;
}
.box_0 {
	width:495px;
	float:left;
	margin-bottom:20px;
	padding-right:5px;
	height: 100px;
}
.img_0 {
    width:139px;
	float:left;
	padding-top:5px;
}
.for_pagetop {
    font-size:80%;
	float:right;
}

/* パンくず */
#BreadcrumbList {
	font-size: 10px;
	background-color: #FFF;
	color: #666;
	width: 639px;
	padding: 5px 0px;
	margin-bottom: 5px;
}
#BreadcrumbList a {
	margin-right: 5px;
	display: inline;
}

/*PagiNavi*/
.wp-pagenavi {
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 25px;
	text-align: center;
}
.wp-pagenavi a,
.pages,
.current {
	margin-right: 4px;
	padding: 3px 10px;
	border: 1px solid #ccc;
	background: #fff;
	text-decoration: none;
	text-align:center;
}
.wp-pagenavi a:hover,
.current{
	color: #fff;
	background: #4562ad;
}
/*--------------------------------------------
	TOP / サイトトップページ
--------------------------------------------*/
#top_contents {
	float:left;
	width:865px;
	padding-left: 20px;
	background-image: url(../../images/common/content_back.jpg);
	background-repeat: repeat-y;
	background-position: top right;
	padding-right: 20px;
}

#top_main {
	float:left;
	width: 639px;
}
#top_service {
	float:left;
	width: 639px;
}
#top_service h2 {
	margin-bottom:5px;
}
#top_service h3 {
	margin-bottom:12px;
}
#top_service .block {
	float:left;
	width: 639px;
	padding-bottom: 10px;
	background-image: url(../../images/common/line.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	margin-bottom: 10px;
}
#top_service .block_02 {
	float:left;
	width: 639px;
	margin-bottom: 15px;
}
#top_service dl {
	float:left;
	width: 200px;
	padding-right: 9px;
	background-image: url(../../images/top/top_service_line.gif);
	background-repeat: repeat-y;
	background-position: right;
	margin-right: 10px;
	display: inline;
}
#top_service dl dt {
	padding:0px 5px;
}
#top_service dl dd p {
	color: #1d3879;
	font-size:89%;
	font-weight: bold;
	padding: 3px 10px 3px 10px;
	line-height: 150%;
}
#top_service .dl_02 {
	padding: 0px;
	margin: 0px;
}
#top_service .block p a,
#top_service .block_02 p a {
	font-size:70%;
	font-weight: normal;
	text-decoration:underline;
}
#top_service .block a img:hover,
#top_service .block_02 a img:hover {
	filter: alpha(opacity=60);
	opacity: 0.6;
}
#top_topics dl {
	border-bottom: 1px dotted #ccc;
	color: #666;
	font-size: 12px;
	overflow: hidden;
	line-height: 1.48;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 598px;
}
#top_topics dl dt {
	float: left;
	width: 145px;
}
#top_topics dl.recruitcat dt {
	background: url(../../images/top/icon-recruit.png) no-repeat right 1px;
}
#top_topics dl.topics dt {
	background: url(../../images/top/icon-topics.png) no-repeat right 1px;
}
#top_topics dl dt span.new {
	font-size: 10px;
	color: #c11;
	display: block;
}
#top_topics dl dd {
	float: right;
	width: 410px;
}

#top #top-bnrArea ul {
	text-align: center;
	margin-right: -20px;

}
#top #top-bnrArea ul li {
	display: inline-block;
	margin-right: 20px;
	margin-top: 10px;
}
/*--------------------------------------------
	Message / 代表ご挨拶
--------------------------------------------*/
#message p {
	font-size:80%;
	color: #333;
	line-height: 150%;
	padding: 10px 5px 20px 6px;
}
#message .p_concept {
	float: left;
	padding-top: 2px;
	width: 379px;
}
#message .p_concept .signature {
	margin-left: 4px;
}
#message .concept_box {
	width:240px;
	height:170px;
	float:right;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 20px;
	padding-left: 10px;
}

/*--------------------------------------------
	Service / サービス
--------------------------------------------*/
.service_box {
	border: 1px double #CCCCCC;
	padding: 5px;
	float: left;
	width: 629px;
	margin-top: 10px;
}
.service_box02 {
	float:left;
	width: 467px;
}
.service_img {
	width:150px;
	height:100px;
	float:left;
	margin-right: 10px;
}
#service .bar_box {
	height:22px;
	width:467px;
	float:left;

	}

#service h4 {
	margin: 5px 0px 0px 0px;
	color: #666666;
	font-size: 80%;
}
#service .img_yajirusi {
	float:right;
	border: 1px solid #7DA8FF;
	padding: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
}
#service p{
	font-size:80%;
	color: #333;
	line-height: 140%;
	padding: 5px;
}

/* IT --------------------------- */
#it .p_it {
     padding-left:30px;
}

#it table {
	color: #666666;
	font-size: 12px;
	width: 500px;
	margin-left: 70px;
	margin-top: 20px;
}
#it th {
	color: #333333;
	padding: 8px;
	text-align: center;
	background-color: #C9E7FE;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #fff;
}
#it .th_02 {
	background-color:#EAEAEA;
	color: #333333;
}
#it td {
	padding:8px;
	background-color: #F2F2F2;
	color: #333333;
	border-top: double 1px #fff;
}
#it .td_02 {
	background-color: #ffffff;
}

/* System --------------------------- */
#system .box {
	padding:0px 10px 10px 10px;
	background-image: url(../../images/common/back_line.gif);
	background-repeat: repeat-y;
}
#system .box_1 {
    width:450px;
	height:150px;
	float:left;
	margin-bottom:20px;
	padding-right:5px;
}
#system .img_1 {
    width:184px;
	float:left;
	padding-top:5px;
}

/* develop --------------------------- */

#develop table {
	color: #666666;
	font-size: 12px;
	width: 500px;
	margin-left: 70px;
	margin-top: 20px;
}
#develop th {
	color: #333333;
	padding: 8px;
	text-align: center;
	background-color: #C9E7FE;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #fff;
}
#develop .th_02 {
	background-color:#EAEAEA;
	color: #333333;
}
#develop td {
	background-color: #F2F2F2;
	color: #333333;
	border-top: double 1px #fff;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 150px;
}
#develop .td_02 {
	background-color: #ffffff;
}
#develop .tablebox01 {
	width: 639px;
	float: left;
}
/*--------------------------------------------
	Company / 会社概要
--------------------------------------------*/
#company table {
	color: #666666;
	font-size: 12px;
	width: 500px;
	margin: 20px 0px 0px 70px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
}
#company th {
	text-align: left;
	color: #666666;
	width:20%;
	padding: 8px;
	background-color: #F2F2F2;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cccccc;
	font-weight: bold;
	padding-left:15px;
}
#company .th_02 {
	background-color: #F2F2F2;
	color: #666666;
	font-weight: bold;
}
#company td {
	padding:8px;
	background-color: #ffffff;
	color: #333333;
	border-top: double 1px #fff;
	border-top-color: #cccccc;
	line-height: 150%;
}
#company .td_02 {
	background-color: #ffffff;
}
#company ul {
    padding: 10px 10px 10px 5px;
}
  
#company li {
	list-style-type: disc;
	margin-left: 10px;
	list-style-position: inside;
}
#company .p02{
	font-size:80%;
	color: #333;
}

/*--------------------------------------------
	Recruit / 採用情報
--------------------------------------------*/
#recruit h4 {
	padding: 5px;
	font-size: 90%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #454545;
	margin-top: 40px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FF0000;
}
.box_recruit {
	float:left;
	width:639px;
}
.img_box {
    float:left;
    width:100px;
}	
#recruit .box01 {
    float:left;
    width:450px;
}
#recruit .box02 {
    float:left;
    width:520px;
	padding:0px 0px 0px 50px;
}
#recruit .img_box {
	width:166px;
	float:left;
	padding-left:23px;
	padding-top:45px;
}
#recruit table {
	color: #666666;
	font-size: 80%;
	width: 520px;
	margin: 5px 0px 0px 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #cccccc;
	border-left-color: #cccccc;
}
#recruit th {
	text-align: left;
	color: #666666;
	width:20%;
	padding: 8px;
	background-color: #F2F2F2;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cccccc;
	font-weight: bold;
	padding-left:15px;
}
#recruit .th_02 {
	background-color: #F2F2F2;
	color: #666666;
	font-weight: bold;
}
#recruit td {
	padding:8px;
	background-color: #ffffff;
	color: #333333;
	border-top: double 1px #fff;
	border-top-color: #cccccc;
	line-height: 150%;
}
#recruit .td_02 {
	background-color: #ffffff;
}
#recruit .navi_box p a {
	font-size: 14px;
}
/*
#recruit .navi_box {
    flort:left;
	width:400px;
}

#recruit ul {
    font-size:90%;
    float:left;
}
#recruit li {
	float:left;
	width: 200px;
}
*/
#recruit .recruit_btn a {
	background: #a11;
	border-radius: 4px;
	color: #fff;
	padding: 10px 40px;
	text-decoration: none;
}
#recruit .recruit_btn a:hover {
	background: #c11;
}

/* 先輩社員の声 */
#staffvoice .sfvoiceBox {
	background: #fafafa;
	border: 1px solid #ccc;
	display: none;
	margin-top: 1px;
	padding: 30px 20px 40px;
}
#staffvoice .activebox {
	display: block;
}
/*
#staffvoice .sfvoiceBox .imgArea {
	border: 1px solid #ccc;
	padding: 2px;
	width: 167px;
}
*/
#staffvoice #sv-btn_tab {
	margin-top: 20px;
	margin-right: -6px;
}
#staffvoice #sv-btn_tab li {
	background: #eee;
	border: 1px solid #ccc;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
	color: #999;
	float: left;
	margin-right: 6px;
	padding: 10px 5px;
	position: relative;
	text-align: center;
	width: 111px;
}

#staffvoice #sv-btn_tab li.this {
	background: #fff;
	color: #000;
	z-index: 9999;
}
#staffvoice #sv-btn_tab li.this:before {
	border: 8px solid transparent;
	border-top-color: #ccc;
	content: " ";
	margin-left: -4px;
	position: absolute;
		bottom: -17px;
		left: 50%;
	
}
#staffvoice #sv-btn_tab li.this:after {
	border: 8px solid transparent;
	border-top-color: #fff;
	content: " ";
	margin-left: -4px;
	position: absolute;
		bottom: -16px;
		left: 50%;
	
}


#staffvoice #sv-btn_tab li:hover {
	color: #555;
	cursor: pointer;
}

#staffvoice .sfvoiceBox .area-proList {
	font-size: 14px;
	padding-top: 10px;
}
#staffvoice .sfvoiceBox .area-proList dl.proList {
	border-bottom: 1px dashed #ddd;
	clear: both;
	margin-bottom: 10px;
	padding-bottom: 5px;
	overflow: hidden;
}
#staffvoice .sfvoiceBox .area-proList dl.proList dt {
	float: left;
	overflow: hidden;
	width: 55px;
}
#staffvoice .sfvoiceBox .area-proList dl.proList dt:before {
	content: "：";
	float: right;
}
#staffvoice .sfvoiceBox .area-proList dl.proList dd {
	float: left;
	padding-left: 7px;
}

/* よくある質問 */
#qa .qaBox {
	background: #f3f3f3;
	border: 1px solid #ccc;
	margin-top: 1px;
	padding: 20px 20px 10px;
}
#qa .qaBox .qaBlock dl {
	background: #fff;
	margin-bottom: 20px;
	padding: 20px;
}
#qa .qaBox .qaBlock dl dt,
#qa .qaBox .qaBlock dl dd {
	padding-left: 90px;
	position: relative;
}
#qa .qaBox .qaBlock dl dt {
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
#qa .qaBox .qaBlock dl dd {
	color: #555;
	font-size: 14px;
}

#qa .qaBox .qaBlock dl dt:before,
#qa .qaBox .qaBlock dl dd:before {
	font-size: 10px;
	margin-right: 20px;
	padding: 0 10px;
	position: absolute;
		left: 0;
		top: 3px;
	text-align: center;
	width: 50px;
}
#qa .qaBox .qaBlock dl dt:before {
	background: #c7d1eb;
	border-bottom: 1px solid #4d69b2;
	color: #4d69b2;
	content: "QUESTION";
}
#qa .qaBox .qaBlock dl dd:before {
	background: #ebc7c7;
	border-bottom: 1px solid #c11;
	color: #c11;
	content: "ANSWER";
}

/*--------------------------------------------
	Inquiry / お問い合わせ
--------------------------------------------*/
#page-preson {
	float:left;
	width: 190px;
	border: solid 1px #F18B8B;
	padding-bottom: 4px;
	margin-left: 118px;
	margin-right: 20px;
	display: inline;
	background-color: #fff;
}
#page-preson #page-needs {
	float:left;
	background-image: url(../../images/common/side_person_img_01.jpg);
	background-repeat: no-repeat;
	background-position: right 66px;
	width: 182px;
	padding: 4px;
}
#page-preson #page-needs p {
	font-size:65%;
	padding: 0px 40px 0px 10px;
	color: #666;
	line-height: 135%;
	margin-bottom: 5px;
}
#page-preson #page-recruit {
	float:left;
	background-image: url(../../images/common/side_person_img_02.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	width: 175px;
	padding: 4px;
	background-color: #FFE1E1;
	margin-left: 4px;
	display: inline;
}
#page-preson #page-recruit p {
	font-size:65%;
	padding: 0px 40px 0px 10px;
	color: #666;
	line-height: 135%;
	margin-bottom: 5px;
}
#page-preson #page-recruit a:hover {
	filter: alpha(opacity=70);
	opacity: 0.7;
}

#page-company {
	float:left;
	width: 190px;
	border: solid 1px #7CA637;
	padding-bottom: 4px;
	display: inline;
	background-color: #fff;
}
#page-company #page-introduce {
	float:left;
	background-image: url(../../images/common/side_company_img_01.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	margin-bottom: 48px;
	width: 182px;
	padding: 4px;
}
#page-company #page-introduce p {
	font-size:65%;
	padding: 0px 40px 0px 10px;
	color: #666;
	line-height: 135%;
	margin-bottom: 5px;
}
#page-company #page-register {
	float:left;
	background-image: url(../../images/common/side_company_img_02.jpg);
	background-repeat: no-repeat;
	background-position: right 20px;
	width: 175px;
	background-color: #EBF4D5;
	margin-left: 4px;
	display: inline;
	padding: 4px;
}
#page-company #page-register p {
	font-size:65%;
	padding: 0px 40px 0px 10px;
	color: #666;
	line-height: 135%;
	margin-bottom: 5px;
}
#page-company #page-register a:hover {
	filter: alpha(opacity=70);
	opacity: 0.7;
}

/* フォーム */
#inquiry .inquiry_p {
	font-size:80%;

}
#inquiry table {
	width:90%;
	line-height: 1.64;
	margin-left:30px;
	border-bottom: double 1px #ccc;
	margin-bottom: 20px;
}
#inquiry table tr th {
    border: double 1px #ccc;
    border-bottom: none;
    border-right: none;
    width: 25%;
    text-align: left;
    background-color: #eee;
}
#inquiry table tr th img {
	margin-top: 3px;
}
#inquiry table tr td {
	background-color:#FFFFFF;
	border: double 1px #ccc;
	border-bottom: none;
}
#inquiry input[type=radio] {
	vertical-align: top;
}

#inquiry input[type=text],
#inquiry textarea,
#inquiry .vertical-item {
	margin-bottom: 5px;
}
#inquiry .area-btn input[name=submitBack],
#inquiry .area-btn input[name=btn-confirm_submit] {
	display: inline-block;
}
#inquiry .area-btn ul li [name=submitBack] {
	margin-right: 20px;
}

.area-btn input[name=submitConfirm],
.area-btn input[name=btn-confirm_submit],
.area-btn input[name=submitBack],
.area-btn input.wpcf7-form-control {
	border: none;
	cursor: pointer;
	height: 30px;
	line-height: 10;
	padding: 0;
	width: 178px;
}
.area-btn input[name=submitConfirm]:hover,
.area-btn input[name=btn-confirm_submit]:hover,
.area-btn input[name=submitBack]:hover {
	filter: alpha(opacity=60);
	opacity: 0.6;
}
.area-btn input[name=submitConfirm],
.area-btn input.wpcf7-confirm {
	background: url(../../images/inquiry/viewbtn.jpg) no-repeat center top;
}
.area-btn input[name=btn-confirm_submit],
.area-btn input.wpcf7-submit {
	background: url(../../images/inquiry/sendbtn.jpg) no-repeat center top;
}
.area-btn input[name=submitBack],
.area-btn .wpcf7-back {
	background: url(../../images/inquiry/backbtn.jpg) no-repeat center top;
	margin-right: 20px;
}


#inquiry .cautionbox01,
#inquiry2 .cautionbox01 {
	margin: 20px 30px 0;
	padding-left: 40px;
}

#inquiry2 table tr td span label {
	margin-right: 10px;
}

div.wpcf7-response-output {
	margin: 0 !important;
	padding: 10px !important;
	text-align: center !important:
}

.wpcf7-not-valid-tip {
	margin-top: 2px;
}

span.wpcf7-list-item:first-child {
	margin-left: 0;
}

#inquiry textarea,
#inquiry2 textarea {
	resize: none;
}
/*--------------------------------------------
	Sitemap / サイトマップ
--------------------------------------------*/
#sitemap .box_sitemap {
     width:319px;
	 float:left;
}
#sitemap ul {
     font-weight:bold;
	 font-size:90%;
	 padding:20px 0px 20px 30px;
	 color:#666;
}
#sitemap li {
     padding-top:20px;
}

/*--------------------------------------------
	Privacy / プライバシーポリシー
--------------------------------------------*/
#privacy p{margin-bottom:15px;}
#privacy ol {
	font-size:80%;
	padding: 5px 35px 5px 30px;
	line-height: 150%;
	color: #333;
	margin-bottom:5px;
	margin-top:5px;
}
#privacy ol li {
	list-style-type:decimal;
}